@use 'vars';

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  color: vars.$body-color;
  background: vars.$body-bg;
}

nav {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 1rem;

  a {
    @extend button;

    padding: 0.8rem;
    color: #fff;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &.active {
      font-weight: bold;

      &::before {
        content: '>';
        margin-right: 0.5rem;
      }
    }
  }
}

section {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
}

button {
  padding: 0.8rem;
  border: 0;
  color: vars.$button-color;
  background: vars.$button-bg;
  cursor: pointer;
}
