:root {
  --min-size: 320px;
  --font-family: 'Inter Variable';
  --color-text: #333;
  --color-bg: #eeeeee;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-width: var(--min-size);
  min-height: 100vh;
  color: var(--color-text);
  font-family: var(--font-family), sans-serif;
  line-height: 1.2;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
  background: var(--color-bg);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  outline: none;
}

button {
  cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#root {
  isolation: isolate;
}
